<br>
<div class="container">
	<table class="table table-bordered table-hover table-striped" style="width: 45%;">
		<tr>
			<th><b>School</b></th>
			<th><b>Team</b></th>
			<th><b>City</b></th>
			<th>State</b></th>
		</tr>
		<%@results.each do |result|%>

		
		<tr>
			<td><%=link_to result.name, "/school/#{result.id}"%></td>
			<td><%result.teams.each do |team|%>
				<%=link_to team.name, "/team"%><br>
				<% end %>
			</td>
			<td><%=result.city%>
			</td>
	</tr>
<%end%>
<table>
</div>
