<!DOCTYPE html>
<html>
<head>
  <title>Iverson</title>
  <%= csrf_meta_tags %>
  <link href="/assets/stylesheets/bootstrap.css" media="screen" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
