<!DOCTYPE html>
<html>
<head>
  <title>Iverson</title>
  <%= csrf_meta_tags %>
<link rel='stylesheet' id='rs-settings-css'  href='http://www.krossover.com/wp-content/plugins/revslider/rs-plugin/css/settings.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='rs-captions-css'  href='http://www.krossover.com/wp-content/plugins/revslider/rs-plugin/css/captions.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css'  href='http://www.krossover.com/wp-content/themes/swatch/stylesheets/bootstrap/bootstrap.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='http://www.krossover.com/wp-content/themes/swatch/stylesheets/font-awesome/font-awesome.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='revolution-css'  href='http://www.krossover.com/wp-content/themes/swatch/stylesheets/revolution.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href='http://www.krossover.com/wp-content/themes/swatch/stylesheets/main.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='color-swatches-css'  href='http://www.krossover.com/wp-content/themes/swatch/stylesheets/color-swatches.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='animate-css'  href='http://www.krossover.com/wp-content/themes/swatch/stylesheets/animations.css?ver=3.7.1' type='text/css' media='all' />
<script type='text/javascript' src='http://www.krossover.com/wp-includes/js/comment-reply.min.js?ver=3.7.1'></script>
<script type='text/javascript' src='http://www.krossover.com/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
<script type='text/javascript' src='http://www.krossover.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://www.krossover.com/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?ver=3.7.1'></script>
</head>
<body>
<div class="container-fluid">	
<div class="mynavbar">
	<a href="http://krossover.com"><img src="/assets/krossover-logo-type-transparent.png" width="320px" height="50px"/></a>
	<ul>
		<li>Teams</li>
		<li><%= link_to "Games", controller: "home", action: "index" %></li>
		<li>About</li>
	</ul>
</div>

<div id="search">
	<%= render :partial => 'school/search' %>
</div>

<%= yield %>

<div class="footer">
	<p>This is a footer.
</div>
</div>
</body>
</html>
